* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #17151E;
  color: #FFFFFF;
  font-family: 'Hanalei Fill';
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section:not(#home) {
  padding: 40px 0;
}

section .container > h1 {
  width: fit-content;
  margin: 0 auto 75px;
  text-align: center;
  font-size: 19px;
}

@media (min-width: 768px) {
  section .container > h1 {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  section .container > h1 {
    font-size: 33px;
  }
}

@media (min-width: 1200px) {
  section .container > h1 {
    font-size: 40px;
  }
}

h1.gradient-text {
  background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav Bar */

.navbar.nav-scroll {
  border-bottom: 1px solid #DBCFC4;
}

@media (min-width: 768px) {
  .navbar.nav-scroll {
    border-bottom: 2px solid #DBCFC4;
  }
}

@media (min-width: 992px) {
  .navbar.nav-scroll {
    border-bottom: 3px solid #DBCFC4;
  }
}

.navbar.nav-scroll.scrolled::before {
  background: #17151E;
}

.navbar.nav-scroll.scrolled::after {
  background: linear-gradient(354.5deg, #303030 -20.73%, rgba(69, 69, 69, 0.462386) 39.45%, rgba(156, 156, 156, 0) 91.2%);
}

.navbar.nav-scroll.scrolled::before, .navbar.nav-scroll.scrolled::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.navbar .navbar-brand img {
  width: 75px;
}

@media (min-width: 768px) {
  .navbar .navbar-brand img {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-brand img {
    width: 125px;
  }
}

.navbar-toggler-icon img {
  width: 100%;
  transform: rotate(-90deg);
}

@media (min-width: 576px) {
  .navbar-toggler-icon img {
    width: 150%;
    transform: rotate(0deg);
  }
}

.navbar .navbar-collapse {
  position: absolute;
  right: 0;
  background: white;
  top: 100%;
  width: 175px;
  text-align: center;
  padding: 30px 0;
}

@media (min-width: 576px) {
  .navbar .navbar-collapse {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-collapse {
    position: relative;
    background: transparent;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-collapse .nav-item .nav-link {
    background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: transparent;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #FEFEFF;
  font-size: 18px;
  position: relative;
}

@media (min-width: 768px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link.active::after, .navbar-nav .show > .nav-link {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
    border-radius: 50px;
  }
}

.navbar .d-flex .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  padding: 0 20px;
  background: linear-gradient(#17151E, #17151E) padding-box, linear-gradient(to right, #2AFF07, #FFFA36,#2AFF07) border-box;
  border-radius: 50px;
  border: 4px solid transparent;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .navbar .d-flex .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .navbar .d-flex .navbar-nav .nav-item .nav-link {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .navbar .d-flex .navbar-nav .nav-item .nav-link {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav .nav-item:not(:last-child) {
    margin: 0 5px;
  }
}

@media (min-width: 1200px) {
  .navbar .navbar-nav .nav-item:not(:last-child) {
    margin: 0 15px;
  }
}

/* Modal */

#modal-1 {
  color: #17151e;
}

#modal-1 p {
  font-size: 18px;
  word-wrap: break-word;
}

#modal-1 a {
  color: #0046ae;
  font-size: 16px;
}

/* Home */

#home {
  padding: 200px 0 50px;
}

#home .container .row {
  border-bottom: 3px solid #DBCFC4;
  padding-bottom: 75px;
}

#home .container .row .col-left h2 {
  background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px auto;
  font-size: 20px;
}

@media (min-width: 768px) {
  #home .container .row .col-left h2 {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  #home .container .row .col-left h2 {
    font-size: 30px;
  }
}

#home .container .row .col-left h4 {
  line-height: 25px;
  text-align: justify;
  margin: 0 auto;
  font-size: 16px;
}

@media (min-width: 768px) {
  #home .container .row .col-left h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  #home .container .row .col-left h4 {
    font-size: 24px;
  }
}

#home .container .row .col-left h4 span {
  background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .container .row .col-left div:not(.clock) {
  display: flex;
  justify-content: center;
}

#home .container .row .col-left a {
  margin: 30px 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  #home .container .row .col-left a {
    margin: 30px 15px;
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  #home .container .row .col-left a {
    font-size: 20px;
  }
}

#home .container .row .col-left a.btn-l {
  border: 3px solid #DBCFC4;
  transform: rotate(-4deg);
  width: 130px;
  height: 50px;
}

@media (min-width: 768px) {
  #home .container .row .col-left a.btn-l {
    width: 130px;
  }
}

@media (min-width: 992px) {
  #home .container .row .col-left a.btn-l {
    width: 150px;
  }
}

#home .container .row .col-left a.btn-l span {
  transform: rotate(4deg);
}

#home .container .row .col-left a.btn-r span {
  background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .container .row .col-left a.btn-r {
  padding: 0 35px;
  background: linear-gradient(#17151E, #17151E) padding-box, linear-gradient(to right, #2AFF07, #FFFA36,#2AFF07) border-box;
  border-radius: 50px;
  border: 4px solid transparent;
}

@media (min-width: 768px) {
  #home .container .row .col-left a.btn-r {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  #home .container .row .col-left a.btn-r {
    padding: 0 20px;
  }
}

#home .container .row .col-right {
  text-align: center;
}

#home .container .row .col-right img {
  width: 250px;
}

@media (min-width: 768px) {
  #home .container .row .col-right img {
    width: 350px;
  }
}

#home .container .row .col-right #contract-address {
  width: 350px;
}

#home .container .row .col-right .clipboard {
  margin-left: 5px;
}

/* Partners */

#partners .container .row.partnership {
  margin: 50px 0;
}

#partners .container .row .col h2.text-center {
  font-size: 17px;
}

@media (min-width: 768px) {
  #partners .container .row .col h2.text-center {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  #partners .container .row .col h2.text-center {
    font-size: 30px;
  }
}

#partners .container .row .col .card-group .card {
  margin: 30px 50px;
  background-color: transparent;
}

@media (min-width: 576px) {
  #partners .container .row .col .card-group .card {
    margin: 15px 75px;
  }
}

@media (min-width: 768px) {
  #partners .container .row .col .card-group .card {
    margin: 20px 100px;
  }
}

@media (min-width: 992px) {
  #partners .container .row .col .card-group .card {
    margin: 25px 15px;
  }
}

#partners .container .row .col .card-group .card img {
  border-radius: 0;
}

/* About */

#about .container .row {
  border-bottom: 3px solid #DBCFC4;
  padding-bottom: 150px;
}

#about .container .row .col .img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

@media (min-width: 768px) {
  #about .container .row .col .img-container {
    margin: 0;
  }
}

#about .container .row .col-left .img-container, #about .container .row .col-right .img-container {
  transform: rotate(0deg);
}

@media (min-width: 768px) {
  #about .container .row .col-left .img-container {
    transform: rotate(-7deg);
  }
}

@media (min-width: 768px) {
  #about .container .row .col-right .img-container {
    transform: rotate(7deg);
  }
}

@media (min-width: 768px) {
  #about .container .row .col-left .img-container, #about .container .row .col-right .img-container {
    margin-top: 14px;
  }
}

@media (min-width: 992px) {
  #about .container .row .col-left .img-container, #about .container .row .col-right .img-container {
    margin-top: 18px;
  }
}

@media (min-width: 1200px) {
  #about .container .row .col-left .img-container, #about .container .row .col-right .img-container {
    margin-top: 20px;
  }
}

#about .container .row .col .img-container * {
  margin: -23px 0;
}

@media (min-width: 768px) {
  #about .container .row .col .img-container * {
    margin: -21px 0;
  }
}

@media (min-width: 992px) {
  #about .container .row .col .img-container * {
    margin: -26px 0;
  }
}

@media (min-width: 1200px) {
  #about .container .row .col .img-container * {
    margin: -30px 0;
  }
}

#about .container .row .col .img-container img {
  width: 230px;
}

@media (min-width: 768px) {
  #about .container .row .col .img-container img {
    width: 210px;
  }
}

@media (min-width: 992px) {
  #about .container .row .col .img-container img {
    width: 260px;
  }
}

@media (min-width: 1200px) {
  #about .container .row .col .img-container img {
    width: 300px;
  }
}

#about .container .row .col .img-container img.yellow {
  filter: drop-shadow(0px 4px 40px #FFFA36);
}

#about .container .row .col .img-container img.green {
  filter: drop-shadow(0px 4px 60px #507D4C);
}

#about .container .row .col .img-container img.red {
  filter: drop-shadow(0px 4px 70px #B26067);
}

#about .container .row .col .img-container .green-box-gradient {
  width: 250px;
  height: 156px;
  background: linear-gradient(89.96deg, #2AFF07 -34.24%, #FFFA36 54.5%, #2AFF07 161.59%);
  box-shadow: 0px 8px 11px 3px rgba(42, 255, 7, 0.82);
  backdrop-filter: blur(92.5px);
  -webkit-backdrop-filter: blur(92.5px);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  #about .container .row .col .img-container .green-box-gradient {
    width: 200px;
    height: 125px;
  }
}

@media (min-width: 992px) {
  #about .container .row .col .img-container .green-box-gradient {
    width: 275px;
    height: 172px;
  }
}

@media (min-width: 1200px) {
  #about .container .row .col .img-container .green-box-gradient {
    width: 320px;
    height: 200px;
  }
}

#about .container .row .col .img-container .green-box-gradient span {
  font-size: 35px;
  -webkit-text-stroke: 2px #000000;
}

@media (min-width: 768px) {
  #about .container .row .col .img-container .green-box-gradient span {
    font-size: 27px;
  }
}

@media (min-width: 992px) {
  #about .container .row .col .img-container .green-box-gradient span {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  #about .container .row .col .img-container .green-box-gradient span {
    font-size: 40px;
  }
}

/* Tokenomics */

#tokenomics .container .row {
  border-bottom: 3px solid #DBCFC4;
  padding-bottom: 50px;
}

#tokenomics .container .row .col img {
  width: 100%;
}

#tokenomics .container .row .col img:nth-of-type(1) {
  margin: -100px 0 -50px;
}

#tokenomics .container .row .col img:nth-of-type(2) {
  margin: -75px 0 -75px;
}

#tokenomics .container .row .col img:nth-of-type(3) {
  margin: -30px 0 -25px;
}

#tokenomics .container .row .col img:nth-of-type(1), #tokenomics .container .row .col img:nth-of-type(2) {
  display: none;
}

@media (min-width: 768px) {
  #tokenomics .container .row .col img:nth-of-type(2) {
    display: block;
  }
}

@media (min-width: 992px) {
  #tokenomics .container .row .col img:nth-of-type(1) {
    display: block;
  }
}

@media (min-width: 768px) {
  #tokenomics .container .row .col img:nth-of-type(3) {
    display: none;
  }
}

@media (min-width: 992px) {
  #tokenomics .container .row .col img:nth-of-type(2) {
    display: none;
  }
}

/* Roadmap */

#roadmap .container .row {
  border-bottom: 3px solid #DBCFC4;
  padding-bottom: 50px;
}

#roadmap .container .row .col:nth-child(even) {
  margin: 50px 0;
}

#roadmap .container .row .col {
  display: flex;
}

#roadmap .container .row .col div {
  box-shadow: 6px 8px 11px 3px rgba(42, 255, 7, 0.82);
  background: linear-gradient(#17151E, #17151E) padding-box, linear-gradient(to right, #2AFF07, #FFFA36,#2AFF07) border-box;
  border: 3px solid transparent;
  border-radius: 12px;
  width: 180px;
  height: 259px;
  margin: 0 auto;
  padding: 50px 0;
}

@media (min-width: 768px) {
  #roadmap .container .row .col div {
    width: 310px;
    height: 401px;
  }
}

@media (min-width: 992px) {
  #roadmap .container .row .col div {
    width: 420px;
    height: 543px;
  }
}

@media (min-width: 1200px) {
  #roadmap .container .row .col div {
    width: 475px;
    height: 614px;
  }
}

#roadmap .container .row .col div h1 {
  width: fit-content;
  margin: -25px auto 90px;
  text-align: center;
  font-size: 17px;
}

@media (min-width: 768px) {
  #roadmap .container .row .col div h1 {
    margin: 0 auto 50px;
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  #roadmap .container .row .col div h1 {
    margin: 0 auto 75px;
    font-size: 33px;
  }
}

@media (min-width: 1200px) {
  #roadmap .container .row .col div h1 {
    margin: 0 auto 100px;
    font-size: 40px;
  }
}

#roadmap .container .row .col div ul {
  margin-top: -60px;
}

@media (min-width: 768px) {
  #roadmap .container .row .col div ul {
    margin: 0;
  }
}

#roadmap .container .row .col div ul li {
  margin: 0 10px;
  font-size: 13px;
  list-style: none;
}

@media (min-width: 768px) {
  #roadmap .container .row .col div ul li {
    margin: 0 15px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  #roadmap .container .row .col div ul li {
    margin: 0 25px;
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  #roadmap .container .row .col div ul li {
    margin: 0 35px;
    font-size: 30px;
  }
}

#roadmap .container .row .col div ul li::before {
  content: "·";
  font-size: 28px;
  vertical-align: middle;
  line-height: 0;
  margin: 0 15px 0 -30px;
}

@media (min-width: 768px) {
  #roadmap .container .row .col div ul li::before {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  #roadmap .container .row .col div ul li::before {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  #roadmap .container .row .col div ul li::before {
    font-size: 40px;
  }
}

#roadmap .container .row .col img {
  width: 30%;
  margin: auto auto auto 0;
}

@media (min-width: 576px) {
  #roadmap .container .row .col img {
    display: none;
  }
}

#roadmap .container .row .col:nth-of-type(even) img {
  transform: scaleX(-1);
  margin: auto 0 auto auto;
}

#roadmap .container .row .col:last-child img {
  visibility: hidden;
}

/* Footer */

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div img {
  width: 90px;
  height: 84px;
}

@media (min-width: 768px) {
  footer div img {
    width: 100px;
    height: 94px;
  }
}

@media (min-width: 992px) {
  footer div img {
    width: 125px;
    height: 117px;
  }
}

footer div.icons p {
  font-size: 12px;
  max-width: 175px;
}

@media (min-width: 576px) {
  footer div.icons p {
    font-size: 12px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  footer div.icons p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  footer div.icons p {
    font-size: 16px;
  }
}

footer div img, div.icons {
  margin: 0 16px;
}

@media (min-width: 768px) {
  footer div img, div.icons {
    margin: 0 18px;
  }
}

@media (min-width: 992px) {
  footer div img, div.icons {
    margin: 0 20px;
  }
}

footer .icons svg {
  font-size: 14px;
  margin: -4px 16px 0;
}

@media (min-width: 576px) {
  footer .icons svg {
    margin: -4px 14px 0;
  }
}

@media (min-width: 768px) {
  footer .icons svg {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  footer .icons svg {
    font-size: 18px;
  }
}

footer .icons .fab {
  margin: 10px 16px;
  font-size: 15px;
}

@media (min-width: 768px) {
  footer .icons .fab {
    margin: 0 15px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  footer .icons .fab {
    font-size: 20px;
  }
}

footer p {
  text-align: center;
  margin: 15px 0;
  font-size: 12px;
}

footer p {
  margin: 20px 0;
  font-size: 14px;
}

@media (min-width: 992px) {
  footer p {
    margin: 25px 0;
    font-size: 16px;
  }
}

